
td, th {
  text-align: center;
  vertical-align: middle;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
  vertical-align: middle;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tablinks.active {
  border: 1px solid #0000ff;
}

.best_lap {
	background: lightgreen;
}


#settings_window {
	position: absolute;
	top: 50px;
	left: 400px;
	z-index: 999999;
	background-color: #fafafa;

}
