td, th {
  text-align: center;
  vertical-align: middle;
}

#calib_table * {
	border: 1px solid black;
	width: 5em;
}

#pilot_table {
	width: 100%;
}

.band_select, .channel_select {
	width: auto;
}

.rssi_select {
	width:3.5em;
}
